body {
    font-family: 'Gochi Hand', cursive;
    background: url(../images/background.jpeg) no-repeat;
    background-size: 100%; 
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 75px;
    color: whitesmoke;
}

.card {
    margin: 10%;
    opacity: 0.5;
    text-align: center;
}

#start {
    display: inline;
}